h1 {
    background: green;
}
label {
    display: block;
}
input,
label {
    line-height: 30px;
    margin: 2px;
}
.card {
    border: 1px solid black;
    margin: 2px;
    border-radius: 10px;
    background-color: lightblue;
}

.appLayout{
    display: flex;
    flex-direction: column;
}
.appLayout .layoutContent {
    flex-grow: 1
}
.navigationPannel {
    height: 40px;
    display: flex;
    flex-direction: horizontal;
}
.navigationPannel button{
    flex-grow: 1;
}

